Repository vincentserpoul/youtun4: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

.pre-commit-config.yaml:

# Pre-commit hooks configuration (using prek - faster Rust alternative)
# https://prek.j178.dev/
#
# Install: brew install prek (or cargo install prek)
# Setup: prek install
# Run all: prek run --all-files

# Global exclusions
exclude: ^(\.automaker/|dist/|target/)

repos:
  # ============================================================================
  # GENERAL HOOKS
  # ============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: ['--maxkb=1000']
      # Check for files that would conflict on case-insensitive filesystems
      - id: check-case-conflict
      # Check for merge conflict markers
      - id: check-merge-conflict
      # Ensure files end with a newline
      - id: end-of-file-fixer
      # Trim trailing whitespace
      - id: trailing-whitespace
      # Check TOML syntax
      - id: check-toml
      # Check YAML syntax
      - id: check-yaml
      # Check JSON syntax
      - id: check-json
        exclude: ^tsconfig\.json$  # tsconfig allows comments
      # Detect private keys
      - id: detect-private-key
      # Check for broken symlinks
      - id: check-symlinks

  # ============================================================================
  # SECRET DETECTION
  # ============================================================================
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  # ============================================================================
  # RUST - Formatting & Linting
  # ============================================================================
  - repo: local
    hooks:
      # Format Rust code
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      # Run Clippy lints (lib and bins only, tests have relaxed rules)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --lib --bins --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      # Check licenses, bans, and security advisories
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: (Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

  # ============================================================================
  # TYPESCRIPT/JAVASCRIPT
  # ============================================================================
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]
        exclude: ^(node_modules/|dist/|target/)

  # ============================================================================
  # MARKDOWN
  # ============================================================================
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--fix', '--disable', 'MD013', 'MD033', 'MD041', '--']

# CI configuration
ci:
  autofix_prs: true
  autoupdate_schedule: monthly

fix: update UI text from MP3YouTube to Youtun4
  crates/youtun4-ui/index.html
  crates/youtun4-ui/styles/main.css
  package.json
  playwright.config.ts
  tests/fixtures.ts
  tests/navigation-layout.spec.ts
Due: none

ci: update deps and actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  README.md
Due: none

ci: remove unmet deps
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

refactor: split into smaller funcs
  crates/youtun4-core/src/sync.rs
  src-tauri/src/commands/youtube.rs
Due: cargo-fmt, cargo-clippy

fix: wasm
  .cargo/config.toml
  crates/youtun4-ui/index.html
  dist/index.html
Due: none

ci: use ubuntu latest
  .github/workflows/ci.yml
Due: none

ci: use ubuntu latest
  crates/youtun4-core/tests/mount_handler_integration.rs
Due: cargo-fmt, cargo-clippy

fix: all platform mounting
  crates/youtun4-core/tests/mount_handler_integration.rs
Due: cargo-fmt, cargo-clippy

ci: windows build
  .github/workflows/ci.yml
  crates/youtun4-core/src/device.rs
Due: cargo-fmt, cargo-clippy

ci: fix windows
  crates/youtun4-core/src/device.rs
  crates/youtun4-core/tests/mount_handler_integration.rs
Due: cargo-fmt, cargo-clippy

style: clippy fix
  crates/youtun4-core/src/device.rs
Due: cargo-fmt, cargo-clippy

feat: add cargo release
  Cargo.lock
  Cargo.toml
Due: cargo-deny

feat: update versions
  Cargo.toml
Due: cargo-deny

feat: rebuilt dist
  dist/index.html
Due: none

fix: release workflow
  .github/workflows/release.yml
Due: none

ci: update upload folder
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: none

feat: new tag
  Cargo.lock
  Cargo.toml
  LICENSE.md
  crates/youtun4-core/Cargo.toml
  deny.toml
Due: cargo-deny

ci: upload paths
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: some styling issues
  Cargo.lock
  crates/youtun4-ui/src/app.rs
  crates/youtun4-ui/src/components/layout.rs
  crates/youtun4-ui/src/tauri_api.rs
  crates/youtun4-ui/styles/main.css
  dist/index.html
  src-tauri/src/commands/state.rs
  src-tauri/src/commands/task.rs
  src-tauri/src/commands/youtube.rs
  src-tauri/tauri.conf.json
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: cargo build improvements
  .github/workflows/release.yml
  Cargo.toml
Due: cargo-deny

ci: update release with cargo install
  .github/workflows/release.yml
Due: none

ci: one step macos
  .github/workflows/release.yml
Due: none

feat: add cargo vet
  Cargo.lock
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: cargo-deny

feat: add trivy scan
  .github/workflows/release.yml
Due: none

feaT: move trivy to security pipeline
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

feat: move trivy to security pipeline
  Cargo.lock
  Cargo.toml
  crates/youtun4-core/Cargo.toml
  crates/youtun4-core/src/youtube.rs
  crates/youtun4-ui/src/components/playlist_card.rs
  crates/youtun4-ui/src/components/playlist_detail.rs
  crates/youtun4-ui/src/tauri_api.rs
  deny.toml
  dist/index.html
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/commands/playlist.rs
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: update release workflow
  .github/workflows/release.yml
Due: none

feat: upgrade deps
  Cargo.toml
Due: cargo-deny

fix: window dragging and title
  crates/youtun4-ui/src/components/layout.rs
  crates/youtun4-ui/styles/main.css
Due: cargo-fmt, cargo-clippy

fix: window dragging and title
  dist/index.html
  src-tauri/capabilities/default.json
Due: none

fix: ci local
  Justfile
  crates/youtun4-core/src/device.rs
Due: cargo-fmt, cargo-clippy

fix: device issue lints
  crates/youtun4-core/src/device.rs
Due: cargo-fmt, cargo-clippy
