Repository vincentserpoul/youtun4: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --lib --bins --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

fix: lint yaml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Justfile
Due: none

chore: update deps
  Cargo.lock
  Cargo.toml
Due: cargo-deny

feat: github improvements
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: release workflow upload errors on macOS and Windows
  .github/workflows/release.yml
Due: none

chore: add MCP server configuration
  .mcp.json
Due: none

fix: clippy semicolon lint and 16-bit icon.ico breaking Windows build
  src-tauri/icons/icon.ico
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: release workflow missing checkout and clippy semicolon lint
  .github/workflows/release.yml
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

feat: remove disabled mcp server
  .mcp.json
Due: none

refactor: implement code quality improvements from IMPROVEMENT_PLAN.md
  .github/workflows/ci.yml
  Justfile
  crates/youtun4-core/src/cache.rs
  crates/youtun4-core/src/cleanup.rs
  crates/youtun4-core/src/fs.rs
  crates/youtun4-core/src/integrity.rs
  crates/youtun4-core/src/lib.rs
  crates/youtun4-core/src/metadata.rs
  crates/youtun4-core/src/playlist.rs
  crates/youtun4-core/src/time.rs
  crates/youtun4-ui/src/app.rs
  crates/youtun4-ui/src/components/confirm_dialog.rs
  crates/youtun4-ui/src/components/connected_devices_bar.rs
  crates/youtun4-ui/src/components/device_list.rs
  crates/youtun4-ui/src/components/device_selector_panel.rs
  crates/youtun4-ui/src/components/device_status_indicator.rs
  crates/youtun4-ui/src/components/empty_state.rs
  crates/youtun4-ui/src/components/mod.rs
  crates/youtun4-ui/src/components/playlist_card.rs
  crates/youtun4-ui/src/components/playlist_detail.rs
  crates/youtun4-ui/src/components/playlist_list.rs
  crates/youtun4-ui/src/components/playlist_selection.rs
  crates/youtun4-ui/src/components/playlist_table.rs
  crates/youtun4-ui/src/components/sync_button.rs
  crates/youtun4-ui/src/components/track_list.rs
  crates/youtun4-ui/src/components/transfer_progress_panel.rs
  crates/youtun4-ui/src/lib.rs
  crates/youtun4-ui/src/types.rs
  crates/youtun4-ui/src/utils.rs
  crates/youtun4-ui/styles/main.css
  dist/index.html
  src-tauri/src/commands/device_watcher.rs
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/integrity.rs
  src-tauri/src/commands/queue.rs
  src-tauri/src/commands/state.rs
  src-tauri/src/commands/sync.rs
  src-tauri/src/commands/sync_orchestrator.rs
  src-tauri/src/commands/transfer.rs
  src-tauri/src/commands/youtube.rs
Due: cargo-fmt, cargo-clippy

chore: align package version to 0.11.0 to match git tags
  Cargo.lock
  Cargo.toml
  src-tauri/tauri.conf.json
Due: cargo-deny

perf: remove expensive filter and will-change from grid floor
  crates/youtun4-ui/styles/main.css
Due: none

perf: remove sun animation and replace glow blur with native gradient
  crates/youtun4-ui/styles/main.css
Due: none

perf: replace backdrop-filter with solid backgrounds
  crates/youtun4-ui/styles/main.css
Due: none

perf: replace logo double drop-shadow filter with text-shadow
  crates/youtun4-ui/styles/main.css
Due: none

perf: replace hover drop-shadow filters with box-shadow equivalents
  crates/youtun4-ui/styles/main.css
Due: none

perf: cap box-shadow blur radii at 12px across all elements
  crates/youtun4-ui/styles/main.css
Due: none

fix: restore grid anti-aliasing blur and sun band mask position
  crates/youtun4-ui/styles/main.css
Due: none

feat: redesign sun with bands, palm trees, anti-flicker
  crates/youtun4-ui/styles/main.css
Due: none

perf(build): narrow tokio features from full to minimal set
  Cargo.toml
Due: cargo-deny

perf(build): switch to thin LTO and codegen-units=4
  Cargo.toml
Due: cargo-deny

perf(build): configure mold/lld for faster linking
  .cargo/config.toml
Due: none

perf(build): add pre-built binary installer for CI tools
  .gitignore
  Justfile
Due: none

perf(build): add sccache and pre-built binaries to CI
  .cargo/config.toml
  .github/workflows/ci.yml
  .yamllint.yaml
Due: none

docs: add design specs and implementation plans
  docs/superpowers/plans/2026-04-05-ci-build-time-optimization.md
  docs/superpowers/plans/2026-04-05-gpu-performance-optimization.md
  docs/superpowers/specs/2026-04-05-ci-build-time-optimization-design.md
  docs/superpowers/specs/2026-04-05-gpu-performance-optimization-design.md
  docs/superpowers/specs/gpu-opt-after-v10.png
  docs/superpowers/specs/gpu-opt-after-v2.png
  docs/superpowers/specs/gpu-opt-after-v3.png
  docs/superpowers/specs/gpu-opt-after-v4.png
  docs/superpowers/specs/gpu-opt-after-v5.png
  docs/superpowers/specs/gpu-opt-after-v6.png
  docs/superpowers/specs/gpu-opt-after-v7.png
  docs/superpowers/specs/gpu-opt-after-v8.png
  docs/superpowers/specs/gpu-opt-after-v9.png
  docs/superpowers/specs/gpu-opt-after.png
  docs/superpowers/specs/gpu-opt-final.png
  docs/superpowers/specs/gpu-opt-final2.png
  docs/superpowers/specs/gpu-opt-final3.png
  docs/superpowers/specs/gpu-opt-final4.png
  docs/superpowers/specs/gpu-opt-final5.png
  docs/superpowers/specs/gpu-opt-final6.png
  docs/superpowers/specs/gpu-opt-final7.png
  docs/superpowers/specs/gpu-opt-final8.png
  docs/superpowers/specs/gpu-opt-final9.png
Due: none

chore: bump version to 0.11.1
  Cargo.toml
Due: cargo-deny

fix: remove hardcoded sccache wrapper from cargo config
  .cargo/config.toml
Due: none

fix: move sccache GHA config to per-job env setup
  .github/workflows/ci.yml
Due: none

fix: remove sccache from CI due to GHA cache instability
  .github/workflows/ci.yml
Due: none

fix: install mold and clang on Linux CI runners
  .github/workflows/ci.yml
Due: none

fix: use mold directly as linker instead of via clang
  .cargo/config.toml
Due: none

fix: remove mold linker from CI entirely
  .cargo/config.toml
  .github/workflows/ci.yml
Due: none

fix: remove stale cargo files, unused dep, skip doctests
  .github/workflows/ci.yml
  Cargo.lock
  crates/youtun4-core/mp3youtube-core/Cargo.toml
  crates/youtun4-ui/Cargo.toml
  crates/youtun4-ui/mp3youtube-ui/Cargo.toml
Due: cargo-deny

chore: bump actions/cache to v5.0.4
  .github/workflows/ci.yml
Due: none

chore: bump taiki-e/install-action to v2.73.0
  .github/workflows/ci.yml
Due: none

fix: use --lib --tests for tarpaulin to skip doctests
  .github/workflows/ci.yml
Due: none

fix: replace tarpaulin with cargo-llvm-cov for coverage
  .github/workflows/ci.yml
Due: none

chore: remove tarpaulin config and update README coverage docs
  README.md
  tarpaulin.toml
Due: none

fix: create coverage directory before llvm-cov output
  .github/workflows/ci.yml
Due: none

feat: add semver-checks, mutants job, proptest; drop MSRV
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/youtun4-core/Cargo.toml
Due: cargo-deny

Path conditions:
  cargo-fmt: any of: \.rs$, but not: ^(\.automaker/|dist/|target/)
  cargo-clippy: any of: \.rs$, but not: ^(\.automaker/|dist/|target/)
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$, but not: ^(\.automaker/|dist/|target/)
