Repository vincentserpoul/youtun4: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

.pre-commit-config.yaml:

# Pre-commit hooks configuration (using prek - faster Rust alternative)
# https://prek.j178.dev/
#
# Install: brew install prek (or cargo install prek)
# Setup: prek install
# Run all: prek run --all-files

# Global exclusions
exclude: ^(\.automaker/|dist/|target/)

repos:
  # ============================================================================
  # GENERAL HOOKS
  # ============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: ['--maxkb=1000']
      # Check for files that would conflict on case-insensitive filesystems
      - id: check-case-conflict
      # Check for merge conflict markers
      - id: check-merge-conflict
      # Ensure files end with a newline
      - id: end-of-file-fixer
      # Trim trailing whitespace
      - id: trailing-whitespace
      # Check TOML syntax
      - id: check-toml
      # Check YAML syntax
      - id: check-yaml
      # Check JSON syntax
      - id: check-json
        exclude: ^tsconfig\.json$  # tsconfig allows comments
      # Detect private keys
      - id: detect-private-key
      # Check for broken symlinks
      - id: check-symlinks

  # ============================================================================
  # SECRET DETECTION
  # ============================================================================
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  # ============================================================================
  # RUST - Formatting & Linting
  # ============================================================================
  - repo: local
    hooks:
      # Format Rust code
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      # Run Clippy lints (lib and bins only, tests have relaxed rules)
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --lib --bins --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      # Check licenses, bans, and security advisories
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: (Cargo\.(toml|lock)|deny\.toml)$
        pass_filenames: false

  # ============================================================================
  # TYPESCRIPT/JAVASCRIPT
  # ============================================================================
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, css, markdown]
        exclude: ^(node_modules/|dist/|target/)

  # ============================================================================
  # MARKDOWN
  # ============================================================================
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--fix', '--disable', 'MD013', 'MD033', 'MD041', '--']

# CI configuration
ci:
  autofix_prs: true
  autoupdate_schedule: monthly

chore: remove codespell and hadolint pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: remove cargo-semver-checks (crates not published)
  .github/workflows/ci.yml
Due: none

docs: add screenshot and update Rust version badge
  README.md
  docs/screenshot.png
Due: none

chore: update deps
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/youtun4-ui/Cargo.toml
  dist/index.html
  rust-toolchain.toml
Due: cargo-deny

feat(analyze): review codebase
  .planning/phases/01-runtime-hardening/01-PLAN.md
  .planning/phases/01-runtime-hardening/02-PLAN.md
  .planning/phases/01-runtime-hardening/03-PLAN.md
  .planning/phases/01-runtime-hardening/04-PLAN.md
  .planning/phases/01-runtime-hardening/05-PLAN.md
  .planning/phases/01-runtime-hardening/06-PLAN.md
  .planning/phases/01-runtime-hardening/07-PLAN.md
  .planning/phases/01-runtime-hardening/PHASE.md
  Cargo.lock
  Cargo.toml
  crates/youtun4-core/src/cache.rs
  crates/youtun4-core/src/cleanup.rs
  crates/youtun4-core/src/integrity.rs
  crates/youtun4-core/src/playlist.rs
  crates/youtun4-core/src/queue.rs
  crates/youtun4-core/src/transfer.rs
  crates/youtun4-core/src/youtube.rs
  crates/youtun4-core/tests/youtube_tests.rs
  src-tauri/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

chore: update deps
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore: update deps
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
Due: cargo-deny

chore: add rust skill to codebase
  .claude/skills/rust.md
Due: none

chore: update lockfile
  Cargo.lock
Due: cargo-deny

chore: remove unused proptest dev-dependency
  Cargo.lock
  Cargo.toml
  crates/youtun4-core/Cargo.toml
Due: cargo-deny

refactor(core): split error.rs into error/ module
  crates/youtun4-core/src/error.rs
  crates/youtun4-core/src/error/cache.rs
  crates/youtun4-core/src/error/core.rs
  crates/youtun4-core/src/error/device.rs
  crates/youtun4-core/src/error/download.rs
  crates/youtun4-core/src/error/filesystem.rs
  crates/youtun4-core/src/error/mod.rs
  crates/youtun4-core/src/error/playlist.rs
  crates/youtun4-core/src/error/transfer.rs
Due: cargo-fmt, cargo-clippy

refactor(core)!: remove deprecated stringly Error variants
  crates/youtun4-core/src/error/core.rs
Due: cargo-fmt, cargo-clippy

refactor(core): split youtube.rs into youtube/ module
  crates/youtun4-core/src/youtube.rs
  crates/youtun4-core/src/youtube/audio.rs
  crates/youtun4-core/src/youtube/default.rs
  crates/youtun4-core/src/youtube/downloader.rs
  crates/youtun4-core/src/youtube/mod.rs
  crates/youtun4-core/src/youtube/model.rs
  crates/youtun4-core/src/youtube/progress.rs
  crates/youtun4-core/src/youtube/rusty_ytdl.rs
  crates/youtun4-core/src/youtube/url.rs
  crates/youtun4-core/src/youtube/ytdlp.rs
Due: cargo-fmt, cargo-clippy

refactor(core): split device.rs into device/ module
  crates/youtun4-core/src/device/detection.rs
  crates/youtun4-core/src/device/mod.rs
  crates/youtun4-core/src/device/mount.rs
  crates/youtun4-core/src/device/watcher.rs
Due: cargo-fmt, cargo-clippy

refactor(core): split transfer.rs into transfer/ module
  crates/youtun4-core/src/transfer/engine.rs
  crates/youtun4-core/src/transfer/mod.rs
  crates/youtun4-core/src/transfer/types.rs
Due: cargo-fmt, cargo-clippy

refactor(core): split sync.rs into sync/ module
  crates/youtun4-core/src/sync/mod.rs
  crates/youtun4-core/src/sync/orchestrator.rs
  crates/youtun4-core/src/sync/types.rs
Due: cargo-fmt, cargo-clippy

refactor(core): split queue.rs into queue/ module
  crates/youtun4-core/src/queue/manager.rs
  crates/youtun4-core/src/queue/mod.rs
  crates/youtun4-core/src/queue/state.rs
  crates/youtun4-core/src/queue/types.rs
Due: cargo-fmt, cargo-clippy

refactor(core): split playlist.rs into playlist/ module
  crates/youtun4-core/src/playlist/helpers.rs
  crates/youtun4-core/src/playlist/manager.rs
  crates/youtun4-core/src/playlist/mod.rs
  crates/youtun4-core/src/playlist/types.rs
Due: cargo-fmt, cargo-clippy

refactor(core): apply rust-skill idiom fixes
  crates/youtun4-core/src/cleanup.rs
  crates/youtun4-core/src/device/mount.rs
  crates/youtun4-core/src/integrity.rs
  crates/youtun4-core/src/queue/manager.rs
  crates/youtun4-core/src/queue/types.rs
  crates/youtun4-core/src/time.rs
Due: cargo-fmt, cargo-clippy

fix(tauri): move blocking transfer/sync/hash work off the async executor
  src-tauri/src/commands/integrity.rs
  src-tauri/src/commands/playlist.rs
  src-tauri/src/commands/queue.rs
  src-tauri/src/commands/transfer.rs
  src-tauri/src/commands/youtube.rs
Due: cargo-fmt, cargo-clippy

refactor(tauri): split commands/youtube.rs into youtube/ module
  src-tauri/src/commands/youtube.rs
  src-tauri/src/commands/youtube/download.rs
  src-tauri/src/commands/youtube/metadata.rs
  src-tauri/src/commands/youtube/mod.rs
Due: cargo-fmt, cargo-clippy

refactor(ui): split types.rs into types/ module
  crates/youtun4-ui/src/types.rs
  crates/youtun4-ui/src/types/config.rs
  crates/youtun4-ui/src/types/device.rs
  crates/youtun4-ui/src/types/mod.rs
  crates/youtun4-ui/src/types/notification.rs
  crates/youtun4-ui/src/types/playlist.rs
  crates/youtun4-ui/src/types/sync.rs
  crates/youtun4-ui/src/types/task.rs
  crates/youtun4-ui/src/types/transfer.rs
  crates/youtun4-ui/src/types/youtube.rs
Due: cargo-fmt, cargo-clippy

refactor(ui): split tauri_api.rs into tauri_api/ module
  crates/youtun4-ui/src/tauri_api.rs
  crates/youtun4-ui/src/tauri_api/config.rs
  crates/youtun4-ui/src/tauri_api/device.rs
  crates/youtun4-ui/src/tauri_api/mod.rs
  crates/youtun4-ui/src/tauri_api/playlist.rs
  crates/youtun4-ui/src/tauri_api/sync.rs
  crates/youtun4-ui/src/tauri_api/task.rs
  crates/youtun4-ui/src/tauri_api/transfer.rs
  crates/youtun4-ui/src/tauri_api/youtube.rs
Due: cargo-fmt, cargo-clippy

refactor(ui): extract event-listener wiring from AppContent into app/listeners
  crates/youtun4-ui/src/app/listeners.rs
  crates/youtun4-ui/src/app/mod.rs
Due: cargo-fmt, cargo-clippy

chore(ui): replace crate-wide lint allows with targeted item-level allows
  crates/youtun4-ui/src/components/empty_state.rs
  crates/youtun4-ui/src/lib.rs
  crates/youtun4-ui/src/tauri_api/mod.rs
  crates/youtun4-ui/src/tauri_api/playlist.rs
  crates/youtun4-ui/src/types/device.rs
Due: cargo-fmt, cargo-clippy

fix: audit, release
  .cargo/audit.toml
  .github/workflows/release.yml
  Cargo.toml
  Justfile
  deny.toml
  src-tauri/tauri.conf.json
Due: cargo-deny

chore(release): v0.12.0
  Cargo.lock
  Cargo.toml
  src-tauri/tauri.conf.json
Due: cargo-deny

fix(core): cfg-gate DeviceError import for non-unix targets
  crates/youtun4-core/src/device/mount.rs
Due: cargo-fmt, cargo-clippy

ci(release): install prebuilt tools and warm release-profile cache
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): v0.12.1
  Cargo.lock
  Cargo.toml
  src-tauri/tauri.conf.json
Due: cargo-deny

chore: update deps
  Cargo.lock
Due: cargo-deny

chore: update deps and use codegraph
  .codegraph/.gitignore
  Cargo.lock
Due: cargo-deny

feat: more than 100 songs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CLAUDE.md
  Cargo.lock
  crates/youtun4-core/src/cleanup.rs
  crates/youtun4-core/src/config.rs
  crates/youtun4-core/src/youtube/rusty_ytdl.rs
  crates/youtun4-ui/src/app/mod.rs
  crates/youtun4-ui/src/components/playlist_detail.rs
  crates/youtun4-ui/src/components/playlist_table.rs
  dist/index.html
  rust-toolchain.toml
  src-tauri/src/commands/playlist.rs
  src-tauri/src/commands/state.rs
  src-tauri/src/commands/sync.rs
  src-tauri/src/commands/sync_orchestrator.rs
  src-tauri/src/commands/transfer.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

chore(release): v0.13.0
  Cargo.lock
  Cargo.toml
  src-tauri/tauri.conf.json
Due: cargo-deny

feat: update deps
  Cargo.lock
Due: cargo-deny

chore(release): v0.13.1
  Cargo.lock
  Cargo.toml
  src-tauri/tauri.conf.json
Due: cargo-deny

feat: self update
  .github/workflows/release.yml
  Cargo.lock
  README.md
  crates/youtun4-ui/src/components/settings_panel.rs
  crates/youtun4-ui/src/tauri_api/mod.rs
  crates/youtun4-ui/src/tauri_api/updater.rs
  crates/youtun4-ui/src/types/mod.rs
  crates/youtun4-ui/src/types/updater.rs
  src-tauri/Cargo.toml
  src-tauri/capabilities/desktop.json
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/updater.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: cargo-fmt, cargo-clippy, cargo-deny

chore(release): v0.13.2
  Cargo.lock
  Cargo.toml
  src-tauri/tauri.conf.json
Due: cargo-deny

fix: compilation err
  crates/youtun4-ui/src/components/settings_panel.rs
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy
